body {
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url(../img/Leonardo_Vision_XL_A_droneseye_view_of_a_futuristic_metropolis_1.jpg);
  background-position: center;
  background-size: cover;
}

.app {
  width: 600px;
  margin: 0px auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: large;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #333974;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  margin-right: 10px;
}

button:hover {
  opacity: 1;
}

.edit {
  background-color: #5cb85c;
}

.remove {
  background-color: #d0534f;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 12px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.page-link:hover {
  background-color: #eee;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #ccc;
  cursor: default;
}

.edit-task-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.edit-task-form h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.edit-task-form input,
.edit-task-form textarea,
.edit-task-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.edit-task-form button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-task-form button[type="button"] {
  background-color: #007bff;
  color: #fff;
}

.edit-task-form button[type="button"]:hover {
  background-color: #0069d9;
}

.edit-task-form button:last-child {
  margin-right: 0;
  background-color: #6c757d;
  color: #fff;
}

.edit-task-form button:last-child:hover {
  background-color: #5a6268;
}

.task-list input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.task-list select {
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
